<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="sortcut icon" href="/img/logo-allcare.png" type="image/png"/>
</head>
<body id="main">
    {{{body}}}
    <footer class="footer" id="footer">
        <div class="footer-infos">
            <p>INFORMAÇÕES ÚTEIS</p>
            <a href="http://localhost:3000/quem_somos">Quem Somos</a><br>
            <a href="http://localhost:3000/servicos">Serviços</a><br>
            <a href="http://localhost:3000/contato">Contato</a><br>
        </div>
        <div class="footer-redesSociais">
            <p>REDES SOCIAIS</p>
            <a href="">
                <img src="/img/icone-instagram.png" alt="Instagram All Care">
            </a>
            <a href="">
                <img src="/img/icone-facebook.png" alt="Facebook All Care">
            </a>
        </div>
    </footer>
</body>
</html>