<link rel="stylesheet" type="text/css" href="/css/menu.css"/>
<link rel="stylesheet" type="text/css" href="/css/tela-busca.css"/>

<title>Busca</title>

<div class="menu-visitante">
    <header>
        <h1 class="logo" role="banner ">
            <a href="http://localhost:3000/">
                <img class="Logo" src="/img/logo-allcare.png" alt="AllCare">
            </a>
        </h1>
        <p id="paragrafo">All Care</p>
        <div class="menu-visitante-entradas">
            <a class="menu-visitante-cadastro" href="http://localhost:3000/cadastro">Cadastre-se</a>
            <a class="menu-visitante-login" href="http://localhost:3000/login">Login</a>
        </div>
    </header>
</div>

<main>
    <div id="tela-busca">
        <fieldset>
            <div id="filtros">
                <form action="http://localhost:3000/busca_cuidador" method="POST">

                    <label for="idCategoria"><b>Selecione a categoria do Cuidador: </b></label>
                    <select name="nmCategoria" id="idCategortia">
                        <option value="cachorro">Cachorro</option>
                        <option value="criança">Criança</option>
                        <option value="idoso">Idoso</option>                        
                    </select>
                    <br><br>
                    <label for="idTipoCuidado"><b>Selecione o local de cuidado: </b></label>
                    <select name="nmTipoCuidado" id="idTipoCuidado">
                        <option value="minhaCasa">Na minha casa</option>
                        <option value="casaCuidador">Na casa do cuidador</option>
                    </select>
                    <br><br>
                    <label for="idSexo"><b>Sexo: </b></label>
                    <select name="nmSexo" id="idSexo">
                        <option value="f">Feminino</option>
                        <option value="m">Masculino</option>
                    </select>
                    
                    <label for="idIdade"><b>Idade: </b></label>
                    <input type="number" name="nmIdade" id="idIdade" min="0"><br>
                    <br>
                    <label for="idData"><b>Selecione a data desejada para o serviço</b></label>
                    <input type="date" name="nmData" id="idData"><br>
                    <br>
                    <label for="idHora"><b>Hora do serviço</b></label>
                    <select name="nmHora" id="idHora">
                        <option value="manha">Manhã</option>
                        <option value="tarde">Tarde</option>
                        <option value="noite">Noite</option>
                        <option value="integral">Integral</option>
                    </select>
                    <br>
                    <button type="submit">FILTRAR</button>
                </form>
            </div>

            <div id="mostrar-mapa">
                <h1><b>Veja os cuidadores perto de você:</b></h1>
                <div id="mapa"></div> 
            </div>
        </fieldset>

        <div id="resultado-busca">
            <h1>Cuidadores disponíveis:</h1>
{{!-- Organizei e configurei alguns inputs, e comecei a mexer no css também(estilos, tamanhos, etc...) --}}
        </div>
    </div>
</main>