<link rel="stylesheet" href="/css/cadastro.css" type="text/css">
<title>Cadastro Cuidador</title>

<main id="main-cadastro">
    <div>
        <form action="/cadastro" method="POST">            
            <fieldset class="fieldCadastro">
                <label for="idNome"><b>Nome: </b></label>
                <input type="text" id="idNome" name="nmNome">
                <br><br>
                
                <form id="fotoPerfil">
                    <img id="img_preview" src="/img/adicionar-fotos.png" alt="Image Preview">
                    <br><br 
                    ><input type="file" id="img_input">
                </form>                
                
                <br><br>
                <div class="idInfos">
                    <label for="idDataNasc"><b>Data Nasc: </b></label>
                    <input type="date" id="idDataNasc" name="nmDataNasc">
                    <label for="idGenero"><b>Sexo: </b></label>
                    <select name="nmGenero" id="idGenero">
                        <option value="masculino"><b>Masculino</b></option>
                        <option value="feminino"><b>Feminino</b></option>
                    </select>
                    <br><br>
                    <label for="idTelefones"><b>Telefone/Celular :</b></label>
                    <input type="text" id="idTelefones" name="nmTelefones">
                    <br><br>
                    <label for="idCpf"><b>CPF: </b></label>
                    <input type="text" id="idCpf" name="nmCpf">
                    <br><br>
                    <label for="idCep"><b>CEP: </b></label>
                    <input type="text" id="idCep" name="nmCep">
                    <br><br>
                    <label for="idEndereco"><b>Endereço: </b></label>
                    <input type="text" id="idEndereco" name="nmEndereco">
                    
                    <label for="idNumCasa"><b>Nº: </b></label>
                    <input type="idNumCasa" id="idNumCasa" name="nmNumCasa">
                    <br><br>
                    <label for="idEmail"><b>E-mail: </b></label>
                    <input type="text" id="idEmail" name="nmEmail">
                    <br><br>
                    <label for="idSenha"><b>Crie a sua senha: </b></label>
                    <input type="password" id="idSenha" name="nmSenha">
                    <br><br>
                    <label for="idConfSenha"><b>Confirme sua senha</b></label>
                    <input type="password" id="idConfSenha" name="nmConfSenha">
                </div>
                <br><br>
                <input class="botao" type="submit" value="Cadastrar" onclick="cadastrar()">
                <input type="button" value="Quero ser um cuidador" id="idQueroSerCuidador">
            </fieldset>
            <br><br>
            <div id="idEditar-Perfil" style="display: none;">
                <fieldset class="fieldEditarPerfil">                    
                    <p><b>Selecione a categoria que você quer cuidar</b></p>
                    <table id="categoria-a-cuidar">
                    <label for="idCuidarIdoso"><b>Idoso</b></label>
                    <input type="checkbox" id="idCuidarIdoso" name="nmCuidarIdoso">
                    <label for="idCuidarCrianca"><b>Criança</b></label>
                    <input type="checkbox" id="idCuidarCrianca" name="nmCuidarCrianca">
                    <label for="idCuidarCachorro"><b>Cachorro</b></label>
                    <input type="checkbox" id="idCuidarCachorro" name="nmCuidarCachorro">                    
                    <br>
                    <form id="addFotosPerfil">
                        <img id="imagens_previews" src="/img/adicionar-fotos.png" alt="Imagens Previews">
                        <br><br><input type="file" id="imagens_input" multiple>
                    </form>
                    <br>
                    <div class="idPeriodo_Descricao">
                        <p><b>Selecione o período e os dias que deseja trabalhar</b></p>
                        <table id="calendario-Cuidador">
                            <tr>
                                <th>
                                </th>
                                <th>
                                    <label for="idPeriodoManha">
                                        Manhã
                                    </label>
                                </th>
                                <th>
                                    <label for="idPerdiodoTarde">
                                        Tarde
                                    </label>
                                </th>
                                <th>
                                    <label for="idPeriodoNoite">
                                        Noite
                                    </label>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <label for="idDomingo">
                                        Domingo
                                    </label>
                                </th>
                                <th>
                                    <input type="checkbox" id="idDomingoManha" name="nmDomingoManha">
                                </th>
                                <th>
                                    <input type="checkbox" id="idDomingoTarde" name="nmDomingoTarde">
                                </th>
                                <th>
                                    <input type="checkbox" id="idDomingoNoite" name="nmDomingoNoite">
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <label for="idSegunda">
                                        Segunda-feira
                                    </label>
                                </th>
                                <th>
                                    <input type="checkbox" id="idSegundaManha" name="nmSegundaManha">
                                </th>
                                <th>
                                    <input type="checkbox" id="idSegundaTarde" name="nmSegundaTarde">
                                </th>
                                <th>
                                    <input type="checkbox" id="idSegundaNoite" name="nmSegundaNoite">
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <label for="idTerca">
                                        Terça-feira
                                    </label>
                                </th>
                                <th>
                                    <input type="checkbox" id="idTercaManha" name="nmTercaManha">
                                </th>
                                <th>
                                    <input type="checkbox" id="idTercaTarde" name="nmTercaTarde">
                                </th>
                                <th>
                                    <input type="checkbox" id="idTercaNoite" name="nmTercaNoite">
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <label for="idQuarta">
                                        Quarta-feira
                                    </label>
                                </th>
                                <th>
                                    <input type="checkbox" id="idQuartaManha" name="nmQuartaManha">
                                </th>
                                <th>
                                    <input type="checkbox" id="idQuartaTarde" name="nmQuartaTarde">
                                </th>
                                <th>
                                    <input type="checkbox" id="idQuartaNoite" name="nmQuartaNoite">
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <label for="idQuinta">
                                        Quinta-feira
                                    </label>
                                </th>
                                <th>
                                    <input type="checkbox" id="idQuintaManha" name="nmQuintaManha">
                                </th>
                                <th>
                                    <input type="checkbox" id="idQuintaTarde" name="nmQuintaTarde">
                                </th>
                                <th>
                                    <input type="checkbox" id="idQuintaNoite" name="nmQuintaNoite">
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <label for="idSexta">
                                        Sexta-feira
                                    </label>
                                </th>
                                <th>
                                    <input type="checkbox" id="idSextaManha" name="nmSextaManha">
                                </th>
                                <th>
                                    <input type="checkbox" id="idSextaTarde" name="nmSextaTarde">
                                </th>
                                <th>
                                    <input type="checkbox" id="idSextaNoite" name="nmSextaNoite">
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <label for="idSabado">
                                        Sábado
                                    </label>
                                </th>
                                <th>
                                    <input type="checkbox" id="idSabadoManha" name="nmSabadoManha">
                                </th>
                                <th>
                                    <input type="checkbox" id="idSabadoTarde" name="nmSabadoTarde">
                                </th>
                                <th>
                                    <input type="checkbox" id="idSabadoNoite" name="nmSabadoNoite">
                                </th>
                            </tr>
                        </table>
                        <br>
                            <br>
                            <label for="idDescricao"><b>Descreva sobre você</b></label><br>
                            <textarea name="nmDescricao" id="idDescricao" cols="30" rows="10"></textarea>
                            <br><br>
                            <input type="submit" value="Salvar" onclick="salvarEdicaoPerfil">
                            <input type="submit" value="Limpar" onclick="limparEditarPerfil">
                        </div>
                </fieldset>
            </div>
        </form>
    </div>
</main>
{{!-- Configurei o editar perfil, alterei posição e tamanho da imagem, comecei a mexer com css (estilos, tamanhos ,etc) --}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    document.getElementById("idQueroSerCuidador").addEventListener("click", function(){
        document.getElementById("idEditar-Perfil").style.display="block";
    });
    function ImagePreview(input){
        if (input.files && input.files[0])
        {
            var r = new FileReader();
            r.onload = function(e)
            {
                $("#img_preview").show();
                $("#img_preview").attr("src", e.target.result);
            }
            r.readAsDataURL(input.files[0]);
        }
    }
    $().ready(function() {
        hide_empty_image = false;
        set_blank_to_empty_image = false;
        set_image_border = true;
        if (hide_empty_image)
            $("#img_preview").hide();
        if (set_blank_to_empty_image)
            $("#img_preview").attr("src","data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=");
        if (set_image_border)
            $("#img_preview").css("border", "1px solid #05bbcc");
    
        $("#img_preview").css("width", "150px");
        $("#img_preview").css("height", "150px");
        $("#img_input").change(function(){
            ImagePreview(this);
        });
    });
</script>