<link rel="stylesheet" href="/css/menu.css" type="text/css">
<title>Fale Conosco</title>

<div class="menu-visitante">
    <header>
        <h1 class="logo" role="banner ">
            <a href="http://localhost:3000/">
                <img class="Logo" src="/img/logo-allcare.png" alt="AllCare">
            </a>
        </h1>
        <p id="paragrafo">All Care</p>
        <div class="menu-visitante-entradas">
            <a class="menu-visitante-cadastro" href="http://localhost:3000/cadastro">Cadastre-se</a>
            <a class="menu-visitante-login" href="http://localhost:3000/login">Login</a>
        </div>
    </header>
</div>

<main>
    <div>
        <h1>Mande um whats ;)</h1>
        <h1>Mande um email</h1>
        <h1>Conecte no Linkedin</h1>
    </div>
</main>
