<link rel="stylesheet" href="/css/index.css" type="text/css">
<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
-->
<title>All Care - Inicio</title>

<main id="index">
    <!-- Logo -->
    <img src="/img/logo-allcare.png" alt="" width="175px" height="125px"><br>

    <h1 id="h1Index">A L L <br> C A R E</h1>
    <h2 id="h2Index">CUIDAMOS DE QUEM VOCÊ AMA </h2><br>
    <br>

    <select name="selectTipo" id="idSelectTipo">
        <option value="Idoso">Idoso</option>
        <option value="Criança">Criança</option>
        <option value="Cachorro">Cachorro</option>
    </select>

    <input type="text" class="procura" id="idInputCep" placeholder="Informe sua localização" on>


</main>
<script>
    /* Redirecionamento de pagina */
    document.querySelector('#idInputCep').addEventListener('keypress', function (e) {
        if (e.key === 'Enter') {
            window.location.href = 'http://localhost:3000/busca_cuidador'
        }
    });


</script>