<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <form class="form" action="">
        <div class="card">

            <div class="cardTop">
                <img class="imgLogin" src="img/logo-allcare.png" alt="">
                <h2 class="titulo">Faça seu Login</h2>
            </div>

            <div class="cardGroup">
                <label for="">Usuário</label>
                <input type="text" name="usuario" placeholder="Digite seu usuário">
            </div>

            <div class="cardGroup">
                <label for="">Senha</label>
                <input type="password" name="usuario" placeholder="Digite sua senha">
            </div>

            <div class="cardGroup">
                <label><input type="checkbox"> Lembre-me</label>
            </div>

            <div class="cardGroup">
                <button type="submit">ACESSAR</button>
            </div>

        </div>
    </form>
</body>
</html>