<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Somos</title>

    <link rel="stylesheet" href="/css/quem_somos.css">
</head>
<body>
    <section class="section">
        <div class="titulo">
            <h1>Sobre a All Care</h1>       
        </div>

        <div class="paragrafo">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>

        <div class="titulo">
            <h1>Desenvolvedores</h1>
        </div>

        <!--Perfil Euller-->
        <div class="devs">
            <div class="foto">
                <img class="foto" src="img/16078077056155.jpg" title="Euller Aron Hammes" alt="Euller Aron Hammes">
            </div>

            <div class="descricao">
                <p class="descricao"> <b>Euller Aron Hammes - </b>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
            
            <img class="linkeDin" src="img/perfil.jpg" alt="Linkedin">
            <p class="nomePerfil"></p>
        </div>

        <!--Perfil Rafael-->
        <div class="devs">
            <div class="foto">
                <img class="foto" src="img/rafael.jpg" title="Rafael Martins Silva" alt="Rafael Martins Silva">
            </div>

            <div class="descricao">
                <p class="descricao"> <b>Rafael Martins Silva - </b>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
            
            <img class="linkeDin" src="img/perfil.jpg" alt="">
            <p class="nomePerfil"></p>
        </div>

        <!--Tiago-->
        <div class="devs">
            <div class="foto">
                <img class="foto" src="img/16078077056155.jpg" title="Tiago Gabriel Kistner" alt="Tiago Gabriel Kistner">
            </div>

            <div class="descricao">
                <p class="descricao"> <b>Tiago Gabriel Kistner - </b>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
            
            <img class="linkeDin" src="img/perfil.jpg" alt="">
            <p class="nomePerfil"></p>
        </div>

        <!--Tom-->
        <div class="devs">
            <div class="foto">
                <img class="foto" src="img/tom.jpg" title="Tom Enzo Schlegel" alt="Tom Enzo Schlegel">
            </div>

            <div class="descricao">
                <p class="descricao"> <b>Tom Enzo Schlegel - </b>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
            
            <img class="linkeDin" src="img/perfil.jpg" alt="">
            <p class="nomePerfil"></p>
        </div>

        <!--Yasmin-->
        <div class="devs">
            <div class="foto">
                <img class="foto" src="img/yasmin.jpg" title="Yasmin Junckes" alt="Yasmin Junckes">
            </div>
        
            <div class="descricao">
                <p class="descricao"> <b>Yasmin Junckes - </b>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
                
            <img class="linkeDin" src="img/perfil.jpg" alt="">
            <p class="nomePerfil"></p>
        </div>
    </section>
    

    
</body>
</html>