/*Cadastro*/

#main-cadastro {
    margin-top: 40px;    
}
.fieldCadastro {
    width: 700px;
    margin-left: 300px;
    margin-top: -30px;
    border-color: #92DECB;
    border-radius: 10px
}
#idNome {
    width: 295px;
}
#img_input {
    margin-left: 405px;
}
#img_preview {
    border: 2px solid #92DECB;
    width: 150px;
    height: 150px;
    margin-left: 485px;
    border-radius: 10px;
}
.idInfos {
    margin-top: -210px;
}
#idTelefones {
    width: 100px;
}
#idCpf {
    width: 100px;
}
#idCep {
    width: 100px;
}
#idNumCasa {
    width: 40px;
}
#idEmail {
    width: 265px;
}
#idSenha {
    width: 200px;
}
#idConfSenha {
    width: 180px;
}

/* Editar perfil cuidador */

.fieldEditarPerfil {
    width: 700px;
    margin-left: 300px;
    border-color: #92DECB;
    border-radius: 10px;
}
#imagens_previews {
    margin-left: 450px;
    margin-top: -10px;
    width: 150px;
}
#imagens_input {
    margin-left: 400px;
}
.idPeriodo_Descricao {
    margin-top: -190px;
}
#idDescricao {
    resize: none;
    width: 694px;
}