body{
    background-color: #92DECB;
    font-family: 'Times New Roman';
}

form{
    width: 400px;
    margin: auto;
    padding: 40px;
}

.card{
    box-shadow: 1px 1px 5px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.cardTop{
    text-align: center;
}

.imgLogin{
    border-radius: 50px ;
    width: 100px;
}

.titulo{
    color:rgb(26, 88, 58);
}.cardGroup{
    margin-bottom: 15px;
}

.cardGroup > label{
    width: 100%;
    color: rgb(26, 88, 58);
    display: block;
}

.cardGroup > input{
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 20px;
    padding: 5px;
}

.cardGroup > button{
    background-color: rgb(26, 88, 58);
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0;
}