.Logo {
    width: 80px;
    margin-left: 320px;
    margin-top: -28px;
}

#paragrafo {
    margin-left: 400px;
    margin-top: -90px;
    font-size: 50px;
}

.menu-visitante-entradas {
    float: right;
    margin-top: -80px;
    margin-right: 340px;
    font-size: larger;
}

.menu-visitante {
    background-color: #92DECB;
    border: 3px solid;
    border-color: #4ecaab;
    margin-top: -11px;
    margin-left: -11px;
    width: 1365px;
    height: 60px;
}

.menu-visitante-cadastro {
    color: black;
    text-decoration: none;
}

a.menu-visitante-login {
    color: black;
    text-decoration: none;
}