.Logo {
    width: 80px;
    margin-left: 320px;
    margin-top: -7px;
}
#paragrafo {
    margin-left: 400px;
    margin-top: -90px;
    font-size: 50px;
}
.menu-visitante-entradas {
    float: right;
    margin-top: -80px;
    margin-right: 340px;
    font-size: larger;
}

.menu-visitante {
    background-color: #92DECB;
    margin-top: -22px;
    margin-left: -11px;
    width: 1352px;
    height: 60px;
    border-bottom-color: #4ecaab;
    border-bottom-style: solid;
}
.menu-visitante-cadastro {
    color: black;
    text-decoration: none;
}
a.menu-visitante-login {
    color: black;
    text-decoration: none;
}