body{
    background-color: #92DECB;
    font-family: Verdana;
    color: rgb(26, 88, 58);
}

.section{
    margin-top: auto;
}

.titulo{
    margin: auto;
    text-align: center;
}

.paragrafo{
    width: auto;
    padding: 10px;


}

.devs{
    display: table;
}

.foto{
    margin-left: 7px;
    width: 150px;
    display: table-cell;
    float: left;
    border-radius: 5px;
}

.descricao{
    display: table-cell;
    float: left;
    width: 700px;
    margin-top: 0px;
    margin-left: 10px;
}

.linkeDin{
    display: table-cell;
    border-radius: 5px;
    width: 60px;
    margin-left: 20px;
}